body {
    /* height: 500vh; */
    /* or choose something else */
    font-family: IBM Plex serif;
    background-color: #ffc7c5;
    color: #5d4b4b;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.logo {
    width: 20%;
    margin: 75px;
}

h1 {
    margin: 100px;
    margin-bottom: 25px;
    font-size: 5vw;
    margin-right: 200px;
}

h2 {
    margin: 100px;
    margin-top: 0px;
    font-weight: 50px;
    margin-bottom: 0px;
}

.mainpic {
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 100px;
    margin-top: 60px;
    column-gap: 70px;
}

.button {
  background-color: #d8909d;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
  font-family: IBM Plex serif;

}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}


@media only screen and (max-width: 900px) {
  .mainpic {
    display: none;
  }
  .container {
    width: 100%;
  }
  .logo{
    width: 90px;
    margin: 50px;
  }
  h1 {
    margin-top: 50px;
    width: 100%;
  }
}