.grid {
    display: grid;
    grid-template-areas:
      "header header header"
      "header header header"
      "reason1 reason2 reason3"
      "footer footer footer";
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    inline-size: 500px;
  }

  .header {
    grid-area: header;
  }
  
  .reason1 {
    grid-area: reason1;
  }
  
  .reason2 {
    grid-area: reason2;
  }
  
  .reason3 {
    grid-area: reason3;
  }

  .footer {
    grid-area: footer;
  }
  