* {
    padding: 0;
    margin: 0;

}

body {
    /* height: 500vh; */
    background: linear-gradient(white, black); 
    /* or choose something else */
    font-family: Merriweather;
}

section1 {
    background-color: beige;
}

.fullscreen {
    position: fixed;
    padding: 200px 0;
    text-align: center;
    font-size: 200px;
    align-items: center;
    width: 100%;
    color: white;
}

.section1 {
    text-align: center;
}

.movsquare {
    display: flex;
    position: fixed;
    background-color: rgb(0, 153, 255);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
/* I want to center "The Future" */
/* on opening, the page is out of whack */

.container {
    background-color: rgb(0, 153, 255);
    color: aliceblue;
    overflow: auto;
    position: absolute;
    top: 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

.info {
    padding: 50px 50px;
    /* margin: 100px 0; */
    background-color: white;
    color: black;
    text-align: center;
    justify-content: center;
    overflow: auto;
    z-index: 1;
    font-size: 20px;
    border: 5px solid black;
    background: linear-gradient(white, black); 
}

#emphasize {
    font-size: 100px;
    font-weight: 20px;
    background-color: white;
}

.fleximage {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    object-position: center;
    justify-content: center; 
    padding:0;
    margin: 0 auto;
    opacity: 100%;
    z-index: 0;
}

.link:hover {
    background-color: red;
    color: red;
    border-color: red;
    border: 30px;
    cursor: pointer;
  }














/* * {
    padding: 0;
    margin: 0;
}

body {
    height: 500vh;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.fullscreen {
    position: fixed;
    text-align: center;
    font-size: 200px;
    align-items: center;
}

.section1 {
    text-align: center;
}

.movsquare {
    display: flex;
    position: fixed;
    background-color: blue;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2%;
} */
/* 
.container {
    background-color: black;
    color: black;
    overflow: auto;
}
h1 {
    position: absolute;
    top: 390%;
    color: aliceblue;
    padding-left: 20px;
    background-color: black;

}

.whybackg {
    position: absolute;
    top: 400%;
    color: aliceblue;
    padding-left: 20px;
    background-color: black;
    justify-content: center;
    padding-right: 40px;

}
 */
