* {
    padding: 0;
    margin: 0;
}

body {
    height: 500vh;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.fullscreen {
    position: fixed;
    text-align: center;
    font-size: 200px;
}


.movsquare {
    display: flex;
    position: fixed;
    background-color: blue;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2%;
}