* {
    padding: 0;
    margin: 0;
}

body {
    height: 500vh;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.fullscreen {
    position: fixed;
    text-align: center;
    font-size: 200px;
    align-items: center;
}

.section1 {
    text-align: center;
}

.movsquare {
    display: flex;
    position: fixed;
    background-color: blue;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
/* I want to center "The Future" */
/* on opening, the page is out of whack */

.container {
    background-color: black;
    color: black;
    overflow: auto;
}
h1 {
    position: absolute;
    top: 390%;
    color: aliceblue;
    padding-left: 20px;
    background-color: black;

}

.whybackg {
    position: absolute;
    top: 400%;
    color: aliceblue;
    padding-left: 20px;
    background-color: black;
    justify-content: center;
    padding-right: 40px;

}

